:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

*,
*::before
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}

.principal {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./assets/Background.png");
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 0.5em;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75em;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3em;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
} 

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3em;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2em;
    color: var(--branco-principal);
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.rodape__logo {
    margin: 8em 0 2.5em 0;
}

.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.lista__link {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1em;
    margin: 0 0.5em 1.5em 0.5em;
}

a {
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__texto {
    color: var(--cinza-secundario);
    text-align: center;
    width: 1200px;
    font-size: 14px;
}

.ha {
    margin-bottom: 99px;
}
/////
url(https://cursos.alura.com.br/course/html-css-praticando-html-css/task/103170)
.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}